.Home {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 76% 24%;
}
#heythere {
  font-size: calc(7vh);
  font-weight: bold;
  line-height: calc(16vh);
  color: #547cf5;
  font-family: Poppins;
  margin-top: calc(4vh);
}
#p1 {
  font-family: Poppins;
  font-size: calc(2.6vh);
  line-height: calc(4vh);
  color: #d4dfff;
}
#p2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: calc(2.2vh);
  line-height: calc(3.4vh);
  color: #d4dfff;
  margin-top: calc(3vh);
}
#btn1 {
  font-family: Poppins;
  font-size: calc(2.4vh);
  font-weight: 600;
  line-height: calc(3.2vh);
  text-align: center;
  color: #13141c;
  background: #7a9afc;
  border-radius: calc(4vh);
  border: 2px solid #7a9afc;
  padding: calc(1vh) calc(3vh) calc(1vh) calc(3vh);
  margin-top: calc(2.4vh);
}
#btn2 {
  font-family: Poppins;
  font-size: calc(2.4vh);
  font-weight: 600;
  line-height: calc(3.2vh);
  text-align: center;
  border-radius: calc(4vh);
  border: 2px solid #7a9afc;
  padding: calc(1vh) calc(3vh) calc(1vh) calc(3vh);
  margin-top: calc(2.4vh);
  background: #13141c;
  color: #7a9afc;
}
#btn1:hover {
  background-color: #547cf5;
  color: #13141c;
}

#about-us {
  background-color: #7a9afc;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.home-container {
  padding-left: calc(15vh);
}
#about-title {
  font-family: Poppins;
  font-size: calc(2.5vh);
  font-weight: bold;
  text-align: center;
  margin-bottom: calc(1vh);
}
#about-p {
  font-family: Poppins;
  font-size: calc(2vh);
  font-weight: 500;
  width: 80%;
  margin-top: calc(1vh);
}
