@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #13141C;
}

p{
    color:#D4DFFF;
}

a{
    text-decoration: none;
    color:#13141C
}

a:hover{

    color: #D4DFFF;
}

#container{

    background-color: #13141C;
    display: block;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; 
}

#heythere {

    position: absolute;
    max-width: 396px;
    height: 108px;
    left: 206px;
    top: 114px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    color:#547CF5
}

#p1{
    position: absolute;
    width: 489px;
    height: 96px;
    left: 206px;
    top: 241px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

#p2 {

    position: absolute;
    width: 408px;
    height: 114px;
    left: 206px;
    top: 478px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;

}

#btn1{
   
    position: absolute;
    width: 232px;
    height: 57px;
    left: 206px;
    top: 363px;
    border: 2px solid #547CF5;
    border-radius: 46px;
    background-color: transparent;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #547CF5;
    margin-top: 28px;
    
    
}

#btn2{

    position: absolute;
    width: 204px;
    height: 53px;
    left: 206px;
    top: 589px;
    border: 2px solid #547CF5;
    border-radius: 46px;
    background-color: transparent;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #547CF5;
    margin-top: 30px;
}

#btn1:hover, #btn2:hover{

    background-color: #547CF5;
    color: #13141C;
}


#about-us{

    position: absolute;
    width: 1362px;
    height: 347px;
    left: 78px;
    top: 787px;
    background-color: #7A9AFC;
}

#about-title{

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    color:#13141C;
    position: absolute;
    width: 151px;
    height: 45px;
    left: 567px;

}

#about-p{

    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #13141C;
    position: absolute;
    width: 1036px;
    height: 150px;
    left: 134px;
    margin-top: 112px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

ion-icon{
    position: absolute;
    color:#7A9AFC;
    
}

#twitter{

    width: 42px;
    height: 42px;
    left: 695px;
    top: 1372px;
}

#instagram{

    width: 41px;
    height: 41px;
    left: 532px;
    top: 1373px;

}

#linkedin {

    width: 40px;
    height: 39px;
    left: 614px;
    top: 1373px;

}

#github {

    width: 41px;
    height: 41px;
    left: 778px;
    top: 1373px;
}

#mail {

    width: 49px;
    height: 49px;
    left: 860px;
    top: 1369px;

}

#footer-p{

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #D4DFFF;

    position: absolute;
    width: 722px;
    height: 23px;
    left: 359px;
    top: 1449px;
}