body {
    background-color: #13141C;
    padding-left: 90px;
    padding-top: 100px;
}

.subject-selected {
    width: 100%;
    height: 60px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #547CF5;
    margin-bottom: 34px;
}

.semester-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 59px;
}

.semester-cards {
    width: 161px;
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #547CF5;
    border-radius: 23px;
    cursor: pointer;
}

.each-semester {
    width: 114px;
    height: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #547CF5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subject-grid {
    display: grid;
    grid-template-columns: auto auto auto;

}

.subject-card {
    width: 281.73px;
    height: 323px;
    background: #13141C;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1), 4px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 21px;
    padding: 43px;
    margin-bottom: 83px;
}

.subject-name {
    position: absolute;
    width: 100%;
    height: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #547CF5;
    margin-bottom: 27px;

}

.modules-list {
    position: relative;
    width: 209px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top : 45px;
    margin-top: 25px;

}

.module_name {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #D4DFFF;
    margin-bottom: 27px;
}