@import url('https://fonts.googleapis.com/css?family=Poppins');

#sidebar{
    
    position:absolute;
    width: 512px;
    height: 1134px;
    left: -434px;
    top: 0px;
    background-color: #547CF5;
    font-family: Poppins;
    font-style: normal;
    font-size: 25px;
    line-height: 37px;
    font-weight: 600;
    z-index: 1;

}



#sidebar a:hover{
    color: #D4DFFF;
}

#sidebar:hover{

    left:-2px;
    transition: 0.33s ease-in;

}

#sidebar a{

    text-decoration: none;
    color: #13141c;

}

#z{

    position: absolute;
    width: 5px;
    height: 71px;
    left: 467px;
    top: 420px;
    transform: scaleY(2.5) scaleX(1.5);
    text-decoration: none;
    color: #13141c;
    

}

#nav-1{

    position: absolute;
    left: 68px;
    width: 248px;
    height: 30px;
    top: 79px;

}

#nav-2{

    position: absolute;
    left: 68px;
    width: 219px;
    height: 61px;
    top: 137px;
    

}

#nav-3{

    position: absolute;
    width: 301px;
    height: 30px;
    left: 68px;
    top: 232px;

}

#nav-4{

    position: absolute;
    width: 156px;
    height: 30px;
    left: 68px;
    top: 290px;

}

#nav-5{

    position: absolute;
    width: 59px;
    height: 31px;
    left: 68px;
    top: 348px;
}

#nav-6{

    position: absolute;
    width: 124px;
    height: 30px;
    left: 68px;
    top: 407px;
}

#home{

    position: absolute;
    width: 74px;
    height: 38px;
    left: 68px;
    top: 573px;
}

#contribute{

    position: absolute;
    width: 156px;
    height: 38px;
    left: 68px;
    top: 606px;

}