.Navbar {
  position: fixed;
  left: -20%;
  width: calc(5vh + 2vw + 20%);
  height: 85%;
  background-color: #547cf5;
  transition: 300ms ease-out;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  z-index: 1;
}
.Navbar:hover {
  left: 0px;
}

.navigations,
.drawer {
  height: 100%;
}

.drawer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(5vh + 2vw);
  align-self: flex-end;
  font-size: 50px;
  padding-bottom: 40%;
}
.navigations {
  width: calc(-5vh - 2vw + 100%);
  font-size: calc(2.5vh);
  font-weight: 600;
  line-height: 38px;
  overflow: hidden;
  padding: 68px 0px 272px 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-link > a {
  text-decoration: none;
  color: #13141c;
}
.nav-link{
    width: 100%;
    display: block;
    text-align: left;
}
